h1 {
    color: var(--second-color);
}

.refresh-button {
    position: fixed;
    bottom: 40px;
    width: 100%;
    height: 40px;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
.news-feed {
  list-style: none;
  margin-bottom: 78px;
}

.news-feed__item {
  padding: 0 15px;
}

.content-divider {
  margin: 10px 0;
  border-top: 1px;
  color: var(--text-color);
  list-style: none;
  padding: 0;
}